.city-list {
    font-family: var(--font-excelsior);
    color: var(--title-color);

    li {
        cursor: pointer;
        align-items: center;
        gap: .3rem;
        padding: 5px 10px;
        font-size: 1.125rem;
        display: flex;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: rgb(228, 228, 228);
        }
    }
}