.about-us-page {
    padding-top: 7rem;

    .about-us-page-first-section {
        padding: 0 1.5rem;

        h1 {
            color: var(--title-color);
            font-family: var(--font-dk-otago);
            font-size: 2rem;
            padding-bottom: .5rem;
        }

        .render-html {
            font-family: var(--font-excelsior);
            font-size: 1.125rem;
            line-height: 1.5;

            br {
                display: none;
            }

            p {
                padding-top: .93rem;
            }
        }
    }

    .about-us-page-second-section {
        margin-top: 1.5rem;
        padding: 1.5rem;
        background-color: var(--title-color);



        .value-cards-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .value-card {
                aspect-ratio: 3 / 4;
                display: flex;
                align-items: center;
                justify-content: center;

                .info-card {
                    background-color: var(--background);
                    font-family: var(--font-excelsior);
                    color: #333333;
                    padding: 1rem 1.5rem;
                    height: fit-content;
                    width: 95%;


                    h4 {
                        font-size: 1.3rem;
                        padding: 1rem 0;
                        max-width: 80% cam;
                    }

                    hr {
                        color: #B9B9B9;
                    }

                    p {
                        padding: 1rem 0;
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }

    .about-us-page-third-section {
        min-height: 100vh;
        background-color: var(--local-guides-bg);
        padding: 1.5rem;

        h2 {
            color: #333333;
        }
    }

    .section-title {
        font-family: var(--font-dk-otago);
        color: white;
        font-size: 1.56rem;
    }
}