.about-us-page {
    padding-top: 7rem;

    .about-us-page-first-section {
        padding: 0 1.5rem;
        max-width: 460px;
        margin: auto;

        @media (min-width: 768px) {
            max-width: 600px;
        }

        @media (min-width: 1024px) {
            max-width: none;
        }

        h1 {
            color: var(--title-color);
            font-family: var(--font-dk-otago);
            font-size: 2rem;
            padding-bottom: .5rem;
            text-align: center;

            @media (min-width: 460px) {
                font-size: 2.5rem;
            }

            @media (min-width: 768px) {
                font-size: 3rem;
            }

            @media (min-width: 1024px) {
                font-size: 4.68rem;
            }
        }

        .render-html {
            font-family: var(--font-excelsior);
            font-size: 1.125rem;
            line-height: 1.5;
            margin: auto;

            @media (min-width: 768px) {
                max-width: 500px;
                padding-bottom: 2rem;
            }

            @media (min-width: 1024px) {
                max-width: 750px;
                font-size: 1.5rem;
            }

            br {
                display: none;
            }

            p {
                padding-top: .93rem;
            }
        }
    }

    .about-us-page-second-section {
        margin-top: 1.5rem;
        padding: 1.5rem;
        background-color: var(--title-color);

        @media (min-width: 768px) {
            display: none;
        }

        .section-title {
            max-width: 500px;
            margin: auto;

            @media (min-width: 768px) {
                padding: 2rem 0;
                font-size: 2rem;
                max-width: none;
            }
        }

        .value-cards-container-desktop {
            display: none;

            @media (min-width: 768px) {
                font-family: var(--font-excelsior);
                display: block;
                font-size: 1.25rem;
                color: white;
                display: flex;
            }

            @media (min-width: 1025px) {
                font-size: 1.5rem;
            }

            .value-cards {
                width: 50%;
            }

            .card {
                width: 50%;
                background-color: var(--background);
            }

            .value-card {
                p {
                    width: fit-content;
                    padding: 10px 15px;
                }

                .selected {
                    background-color: var(--local-guides-bg);
                    color: var(--title-color);
                }
            }
        }



        .value-cards-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 500px;
            margin: auto;

            @media (min-width: 768px) {
                display: none;
            }

            .value-card {
                width: 100%;
                aspect-ratio: 3 / 4;
                max-height: 435px;

                @media (min-width: 768px) {
                    display: flex;
                }

                .value-card-img {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .info-card {
                        background-color: var(--background);
                        font-family: var(--font-excelsior);
                        color: #333333;
                        padding: 1rem 1.5rem;
                        height: fit-content;
                        width: 95%;


                        h4 {
                            font-size: 1.3rem;
                            padding: 1rem 0;
                            max-width: 80%;
                        }

                        hr {
                            color: #B9B9B9;
                        }

                        p {
                            padding: 1rem 0;
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
    }

    .about-us-page-second-section-desktop {
        display: none;

        @media (min-width: 768px) {
            height: 500px;
            display: flex;
            margin-top: 1.5rem;
            background-color: var(--title-color);
            gap: 1rem;
        }

        @media (min-width: 1024px) {
            height: 600px;
        }

        .left-side {
            width: 50%;
            padding: 0rem 0 3rem 3rem;
            max-width: 500px;
            margin: auto;

            .section-title {
                max-width: 500px;
                margin: auto;

                @media (min-width: 768px) {
                    padding: 2rem 0;
                    font-size: 2rem;
                    max-width: none;
                }
            }

            .value-cards-title-container {
                color: white;
                width: fit-content;
                display: flex;
                flex-direction: column;

                button {
                    text-align: left;
                    font-family: var(--font-excelsior);
                    padding: 10px 10px;
                    font-size: 1.25rem;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                }

                .selected {
                    background-color: var(--local-guides-bg);
                    color: var(--main-color);
                }
            }
        }

        .right-side {
            width: 50%;
            height: 100%;
            display: flex;

            .value-cards-container {
                width: 100%;
                position: relative;

                .value-card {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: opacity .3s ease-in-out;
                    justify-content: center;
                    align-items: center;

                    @media (min-width: 768px) {
                        display: flex;
                        opacity: 0;
                        z-index: 0;
                    }

                    .info-card {
                        background-color: var(--background);
                        font-family: var(--font-excelsior);
                        color: #333333;
                        padding: 1rem 1.5rem;
                        height: fit-content;
                        width: 95%;
                        max-width: 480px;

                        @media (min-width: 1024px){
                            min-height: 250px;
                        }


                        h4 {
                            font-size: 1.3rem;
                            padding: 1rem 0;
                            max-width: 80%;
                        }

                        hr {
                            color: #B9B9B9;
                        }

                        p {
                            padding: 1rem 0;
                            font-size: 1.125rem;
                        }
                    }

                    /* .value-card-img {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;


                    } */
                }

                .value-card.active {
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }

    .local-guide-container-page {
        padding: 2rem .5rem;
        background-color: var(--local-guides-bg);
        width: 100%;
    }

    /* .about-us-page-third-section {
        background-color: var(--local-guides-bg);
        padding: 1.5rem 1.5rem 2rem 1.5rem;

        h2 {
            color: #333333;
        }

        .value-cards-container {
            background-color: var(--background);
            font-family: var(--font-excelsior);
            padding: 1rem 1.5rem;

            .value-card-img{

                .value-card-personal-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: .5rem 0 1.5rem 0;

                    .img-container {
                        aspect-ratio: 1 / 1;
                        width: 126px;
                        overflow: hidden;


                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transform: scale(1.3);
                        }
                    }

                    .value-card-titles {
                        font-size: 1rem;
                        text-transform: uppercase;

                        .value-card-name {
                            font-family: var(--font-dk-otago);
                            font-size: 1.25rem;
                            color: var(--main-color);
                        }
                    }
                }

                .value-card-description {
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #333333;
                    padding: 1rem 0 .5rem 0;

                    .value-card-last-section {
                        padding-top: 1rem;

                        .last-section-title {
                            display: flex;
                            align-items: center;
                            gap: .3rem;
                            color: var(--main-color);
                            text-transform: uppercase;
                            font-size: .875rem;
                        }
                    }
                }
            }
        }
    } */

    .section-title {
        font-family: var(--font-dk-otago);
        color: white;
        font-size: 1.56rem;
        padding: .5rem 0 1.2rem;
    }
}

.our-story-section {
    padding: 2rem 1.3rem;

    .title-container {
        font-size: 1.5rem;
        font-family: var(--font-dk-otago);
        text-align: center;
    }

    .timeline {
        border: 1px solid red;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;

        ::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            width: 2px;
            background: var(--main-color);
            transform: translateX(-50%);
            z-index: 1;
        }

        .year {
            font-family: var(--font-dk-otago);
            font-size: 1.25rem;
            color: var(--main-color);
            line-height: 1;
            width: fit-content;
        }
    }
}