.contact-page {
    min-height: 80vh;
    padding: 5rem 2rem;
    
    .contact-section {
        margin: auto;
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 2rem;
            font-family: var(--font-excelsior);
            padding-bottom: 1rem;
            max-width: fit-content;
            margin: auto;
        }
    }
}