@import "tailwindcss";

:root {
  --background: #EFF0E9;
  --foreground: #171717;
  --font-excelsior: "Excelsior", serif;
  --font-dk-otago: "DK Otago", serif;
  --title-color: #017E80;
  --subtitle-color: #E84F1A;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

main {
  padding: 0 1.1rem;
}

.font-excelsior {
  font-family: var(--font-excelsior);
}

.font-dk-otago {
  font-family: var(--font-dk-otago);
}

.faq-accordion {
  border-top: 1px solid #333;
  margin-top: 4rem;

  h2 {
    font-size: 1.3rem;
    color: black !important;
  }

  .faq-items {
    border: 1px solid #333;
    margin: 1rem 0;
    padding: 0 1rem;

    .faq-item {

      &[open] .faq-question::after {
        transform: rotate(180deg);
      }

      .faq-question {
        margin: 10px 0px;
        font-size: 1.125rem;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::-webkit-details-marker {
          display: none;
        }

        &::after {
          content: "";
          width: 20px;
          height: 20px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M17.9922 8.75781L11.9922 14.7578L5.99219 8.75781' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: transform 0.3s ease, filter 0.3s ease;
          margin-left: 10px;
          flex-shrink: 0;
        }

      }
    }

    .faq-separator {
      color: #A3A3A3;
    }
  }


}