@import "tailwindcss";

:root {
  --background: #EFF0E9;
  --foreground: #171717;
  --font-excelsior: "Excelsior", serif;
  --font-dk-otago: "DK Otago", serif;
  --title-color: #017E80;
  --subtitle-color: #E84F1A;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

main {
  padding: 0 1.1rem;
}

.font-excelsior {
  font-family: var(--font-excelsior);
}

.font-dk-otago {
  font-family: var(--font-dk-otago);
}