@import "tailwindcss";

:root {
  --background: #EFF0E9;
  --foreground: #171717;
  --font-excelsior: "Excelsior", serif;
  --font-dk-otago: "DK Otago", serif;
  --title-color: #017E80;
  --subtitle-color: #E84F1A;
  --main-color: #017E80;
  --second-green: #0A4747;
  --local-guides-bg: #CBDCD9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);

  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  .sherpa-header {
    border-bottom: 1px solid #B9B9B9;
    position: fixed;
    z-index: 9999;
    background-color: var(--background);
    width: 100%;

    .logo-container {
      width: fit-content;
    }

    .book-now-button {
      background-color: var(--subtitle-color);
      color: white;
      border-radius: 3.5px;
      padding: 4px 15px;
      font-family: var(--font-excelsior);
      font-size: 1rem;
    }
  }

}

/* main { */
/* } */

.font-excelsior {
  font-family: var(--font-excelsior);
}

.font-dk-otago {
  font-family: var(--font-dk-otago);
}

.faq-accordion {
  border-top: 1px solid #333;
  margin: 4rem 0;

  h2 {
    font-size: 1.3rem;
    color: black !important;
  }

  .faq-items {
    border: 1px solid #333;
    margin: 1rem 0;
    padding: 1rem;

    .faq-item {

      &[open] .faq-question::after {
        transform: rotate(180deg);
      }

      .faq-question {
        margin: 10px 0px;
        font-size: 1.125rem;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &::-webkit-details-marker {
          display: none;
        }

        &::after {
          content: "";
          width: 20px;
          height: 20px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M17.9922 8.75781L11.9922 14.7578L5.99219 8.75781' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: transform 0.3s ease, filter 0.3s ease;
          margin-left: 10px;
          flex-shrink: 0;
        }

      }

      .faq-answer {
        padding-bottom: 1rem;
      }
    }

    .faq-separator {
      color: #A3A3A3;
    }
  }


}

.not-ready-to-book {
  padding-left: 1.3rem;
  padding-right: 1.3rem;

  .title-section {
    h4 {
      color: #000;
      font-size: 1.6rem;
      font-family: var(--font-dk-otago);
    }

    .subtitle p {
      letter-spacing: 0;
      color: #000;
      margin-top: 1.3rem;
      font-size: 1.125rem;
      line-height: 1.5;
    }
  }
}

.preview-wrapper {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  .preview-item {
    .preview-image-container {
      width: 100%;
      /* que ocupe todo el ancho del preview-item */
      aspect-ratio: 3 / 2;
      /* mantiene proporción 3:2 */
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* hace que la imagen llene el contenedor sin deformarse */
        display: block;
        z-index: -1;
      }

      .preview-city {
        background-color: #EFF0E9;
        font-family: var(--font-dk-otago);
        font-size: 0.7rem;
        position: absolute;
        z-index: 00;
        top: 0.7rem;
        right: 0.7rem;
        padding: 0.2rem 0.5rem;
        margin-top: 0;
      }
    }

    .preview-data {
      display: flex;
      flex-direction: column;
      /* gap: 2px; */
      margin-top: 10px;
      font-family: var(--font-excelsior);

      .preview-key {
        font-family: var(--font-dk-otago);
        font-size: 1rem;
      }

      h3 {
        color: black;
        font-size: 1.5rem;
        margin: 0;
        line-height: 1.35;
      }

      .preview-author {
        margin: 0;
        font-size: 1rem;
        font-style: italic;
        letter-spacing: -0.02px;
        color: var(--title-color);

        span {
          color: black;
          font-style: normal;
        }
      }

      .description {
        font-family: var(--font-excelsior);
        font-size: 1rem;
        line-height: 1.5;
      }

    }
  }

  .preview-read-all {
    border: 1px solid;
    background-color: var(--main-color);
    color: white;
    padding: .5rem .9rem;
    font-size: 1rem;
    display: block;
    width: fit-content;
    margin: 1.5rem auto;
  }
}

.third-section {
  padding: 2rem 1.3rem;

  .content {
    font-family: var(--font-excelsior);
    line-height: 1.5;

    h3 {
      color: var(--main-color);
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 400;
      max-width: 90%;
    }

    span {
      font-style: normal;
    }

    p {
      font-size: 1.125rem;
      letter-spacing: 0;
      padding-top: .8rem;
    }
  }
}

.our-experiences-section {
  background-color: var(--main-color);

  .our-experiences-section-first-part {
    padding: 2rem 1.3rem 2rem 1.3rem;
    color: white;

    .title-section {
      h2 {
        font-family: var(--font-dk-otago);
        line-height: 1;
        font-size: 1.5rem;
        padding: 1rem 0 2rem 0;
      }
    }

    .content-section {
      font-family: var(--font-excelsior);
      font-size: 1.5rem;

      p {
        font-style: italic;
        padding-top: 1rem;
        line-height: 1.5;
        letter-spacing: -2%;
        max-width: 90%;
      }

      span {
        font-style: normal;

      }
    }
  }

  .img-container {
    aspect-ratio: 3 / 4;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .our-experiences-section-last-part {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;

    button {
      width: fit-content;
      font-family: var(--font-dk-otago);
      font-size: 1.5rem;
    }

    .share-btn {
      padding-bottom: 1.3rem;
    }

    .explore-btn {
      padding-top: 1.3rem;
    }

  }
}

.footer {
  color: white;

  .footer-first-section {
    background-color: var(--second-green);
    padding: 2rem 1.3rem;

    .first-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1.3rem;

      .social-media {
        display: flex;
        align-items: center;
        gap: .5rem;
      }
    }

    .second-section {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-family: var(--font-excelsior);

      a:first-child {
        text-decoration: underline;
      }
    }
  }
  .footer-second-section {
    color: #8D8D8D;
    padding: 2rem 1.3rem;
    font-size: 0.85rem;
    text-align: center;
    line-height: 1.5;
    font-family: var(--font-excelsior);
  }

}