.home-first-section {

    height: 95svh;
    overflow: hidden;

    .first-section-container {
        display: grid;
        position: relative;
        height: 100%;
        display: grid;
        padding-top: 4rem;

        .image-container {
            filter: brightness(.5);
            z-index: -1;
            position: absolute;
            inset: 0;
            /* ocupa todo el contenedor */
            z-index: -1;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .data-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: white;

            .logos-container {
                display: flex;
                align-items: center;
                justify-content: center;

                @media (min-width: 768px) {
                    gap: 2rem;
                }

                /* padding-top: 2rem; */
                /* padding-left: 1rem; */

                .logo-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 28%;

                    .review {
                        display: flex;
                        font-size: 1rem;
                        font-family: var(--font-excelsior);
                    }

                    .star {
                        padding-top: 1rem;
                        display: flex;
                        gap: .2rem;
                        width: 90%;
                        justify-content: space-around;
                    }
                }

                .logo-container:nth-child(2) {
                    width: 120px;

                    .img-container {
                        width: 75% !important;
                    }
                }

                .logo-container:nth-child(3) {
                    /* border: 1px solid red; */
                    /* margin-top: .2rem; */
                    display: flex;
                    justify-content: space-between;
                    min-height: 50px;

                    @media (min-width: 768px) {
                        min-height: 61px;
                    }

                    .img-container {
                        width: 100%;

                        @media (min-width: 768px) {
                            margin-left: 15%;
                        }
                    }

                    .review {
                        @media (min-width: 768px) {
                            margin-left: 15%;
                        }
                    }
                }

                .image-container {
                    filter: brightness(1);
                }

            }

            .info-container {
                font-family: var(--font-excelsior);
                line-height: 1.3;
                padding: 0 0 2rem .6rem;

                .info-container-kicker {
                    font-size: .875rem;
                    line-height: 1;
                    padding-bottom: .5rem;
                    font-style: italic;
                }

                .info-container-kicker.xl {
                    display: none;
                }

                .info-container-title {
                    font-family: var(--font-dk-otago);
                    font-size: 2.31rem;
                    padding-bottom: .5rem;
                    max-width: 500px;
                }

                .info-container-subheadline {
                    font-size: 1.25rem;
                    letter-spacing: -2%;
                    font-style: italic;
                }
            }
        }
    }
}

.home-second-section {
    background-color: var(--local-guides-bg);

    .second-section-container {
        display: flex;
        align-items: center;
        justify-content: center;
        /* gap: 1rem; */
        gap: .7rem;
        padding: 1.5rem 0;

        p {

            font-size: 0.8125rem;
            font-family: var(--font-excelsior);
            font-style: italic;
        }

        .imgs-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
        }

        /* .imgs-container .img-container:last-child {
            padding-bottom: 2px;
        } */
    }
}

.home-fourth-section {
    padding: 2rem 0;

    .title-section {
        padding: 2rem 0;
        text-align: center;

        h2 {
            font-family: var(--font-dk-otago);
            font-size: 1.56rem;
            line-height: 1.45;
        }

        p {
            padding-top: 1rem;
            font-family: var(--font-excelsior);
            font-size: 1.125rem;
            line-height: 1.5;
            width: 80%;
            margin: auto;
        }

        span {
            font-weight: 700;
        }
    }

    .tours-section {
        background-color: var(--main-color);

        .tours-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 3rem 1.3rem;
            gap: .8rem;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            /* border: 1px solid red; */
            /* width: 95%; */
            margin: auto;

            :first-child {
                grid-column: span 2;
            }


            .tour-card {
                background-color: white;
                padding: .4rem;
                /* max-height: 350px;
                min-height: 211px; */
                /* height: 100%; */
                height: 260px;
                display: flex;
                flex-direction: column;
                width: 100%;
                position: relative;

                .img-container {
                    height: 75%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .tour-data {
                    text-align: center;
                    padding: .5rem 0 .2rem 0;
                    height: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h4 {
                        font-family: var(--font-dk-otago);
                        color: var(--main-color);
                        font-size: 1.125rem;
                    }

                    p {
                        font-family: var(--font-excelsior);
                        color: #333;
                        font-size: .85rem;
                    }
                }
            }

            .tour-card::after {
                content: "";
                position: absolute;
                inset: 0;
                background: rgba(1, 126, 128, 0);
                /* verde transparente */
                transition: background 0.3s ease-in-out;
            }

            .tour-card:hover::after {
                background: rgba(1, 126, 128, 0.3);
                /* aparece el verde */
            }

            /* El resto verticales */
            /* .tour-card:not(:first-child) {
                aspect-ratio: 3 / 4;
            } */

            /* .tour-card:not(:first-child) {
                height: 224px;

                .img-container {
                    aspect-ratio: 1 / 1;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            } */
        }
    }
}

.home-last-section {
    overflow: hidden;
    background-color: #CBDCD9;
    padding: 2rem 0;

    .items-container {
        max-width: 1200px;
        margin: auto;


        .titles {
            display: grid;

            &>* {
                grid-column: 1;
                grid-row: 1;
            }

            .title {
                font-family: var(--font-excelsior);
                color: var(--main-color);
                font-size: 3.125rem;
                letter-spacing: -2%;
                rotate: -24deg;
                padding: 2rem 0 0 5rem;
            }
        }

        .memories-container {
            position: relative;
            width: 100%;
            height: 110svh;

            .memory-container {
                position: absolute;
                width: auto;
                height: auto;
                overflow: hidden;
                transition: all 0.3s ease;
                opacity: 0;

                img {
                    border: 5px solid white;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .opacity {
                opacity: 1;
            }

            .memory-container:hover {
                transform: scale(1.05) rotate(0deg);
                z-index: 99999;
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            }



            .memory-container:nth-child(1) {
                top: 2cqh;
                left: 8%;
                /* z-index: 999; */
            }

            .memory-container:nth-child(2) {
                top: -2%;
                left: 10%;
                transform: translate(67%, 0px);
            }

            .memory-container:nth-child(3) {
                top: 20%;
                left: 5%;
                transform: translate(-20%);
                /* z-index: 9999; */
            }

            .memory-container:nth-child(4) {
                top: 25%;
                left: 20%;
                transform: rotate(-10deg);
                /* z-index: 9999; */
                width: 235px;
                height: auto;
                z-index: 10;
            }

            .memory-container:nth-child(5) {
                top: 45%;
                left: 70%;
                transform: rotate(-7deg) translate(35%, 0);
                z-index: 12;
            }

            .memory-container:nth-child(6) {
                top: 40%;
                left: 0%;
                transform: rotate(1deg) translate(-40%, 0);
                width: 150px;
                height: auto;
            }

            .memory-container:nth-child(7) {
                top: 70%;
                left: 10%;
                transform: rotate(6deg) translate(-10%);
                z-index: 7;
            }

            .memory-container:nth-child(8) {
                top: 50%;
                left: 45%;
                transform: translate(30%, 0);
                z-index: 11;
                /* transform: rotate(5deg); */
            }

            .memory-container:nth-child(9) {
                top: 87%;
                left: 0;
                transform: rotate(10deg) translate(-20%);
                width: 250px;
                height: auto;
                z-index: 8;
            }

            .memory-container:nth-child(10) {
                top: 85%;
                left: 40%;
                transform: rotate(20deg);
                width: 200px;
                z-index: 13;
            }
        }
    }
}


.memories-container:hover .memory-container:not(:hover) img {
    opacity: 0.9;
    filter: brightness(0.8);
}

@media (min-width: 768px) {
    .home-first-section {

        .first-section-container {

            .data-container {

                .logos-container {
                    padding-top: 0;
                    height: 200px;
                    gap: 0;

                    .logo-container {
                        width: 120px;

                        .img-container {
                            width: 80%;
                            height: auto;

                            img {
                                height: auto;
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .info-container {
                    padding: 0 0 4rem 1.5rem;

                    .info-container-kicker {
                        font-size: 1.475rem;
                    }

                    .info-container-title {
                        font-size: 3.1rem;
                        max-width: 700px;
                    }

                    .info-container-subheadline {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .third-section {
        padding: 4rem 1.3rem;

        .content {
            display: flex;
            padding: 0 2rem;
            gap: 2rem;
            max-width: 800px;
            margin: auto;

            p {
                max-width: 390px;
                padding-top: 0;
            }

            h3 {
                max-width: 290px;
            }
        }
    }

    .home-fourth-section {

        .title-section {

            width: 550px;
            margin: auto;
            padding-bottom: 4rem;

            h2 {
                font-size: 1.76rem;

                br {
                    display: none;
                }
            }

            p {
                width: 100%;
                max-width: 400px;
            }

            span {
                font-weight: 700;
            }
        }

        .tours-section {
            .tours-container {
                grid-template-columns: repeat(6, 1fr);
                padding: 3rem 1.3rem;
                gap: .8rem;
                overflow: hidden;
                height: auto;
                max-width: 900px;
                margin: auto;

                :first-child,
                :nth-child(2) {
                    grid-column: span 3;
                }

                /* :nth-child(2) {
                grid-column: span 3;
            } */
                :nth-child(3),
                :nth-child(4),
                :nth-child(5) {
                    height: 350px;
                    grid-column: span 2;
                }

            }
        }
    }

    .home-last-section {
        .items-container {


            .titles {
                position: relative;

                .title {
                    position: absolute;
                    font-size: 4rem;
                    rotate: -24deg;
                    top: 0;
                }
            }

            .memories-container {
                position: relative;
                width: 100%;
                height: 50svh;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 700px;
                margin: auto;

                .memory-container {
                    position: absolute;
                    width: auto;
                    height: auto;
                    overflow: hidden;
                    transition: all 0.3s ease;

                    img {
                        border: 5px solid white;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }

                .memory-container:hover {
                    transform: scale(1.05) rotate(0deg);
                    z-index: 99999;
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
                }



                .memory-container:nth-child(1) {
                    top: 20;
                    left: 8%;
                    /* z-index: 999; */
                }

                .memory-container:nth-child(2) {
                    top: -2%;
                    left: 10%;
                    transform: translate(80%, 0px);
                }

                .memory-container:nth-child(3) {
                    transform: translate(-20%);
                    /* z-index: 9999; */
                }

                .memory-container:nth-child(4) {
                    transform: rotate(-10deg);
                }

                .memory-container:nth-child(5) {
                    top: 0;
                    left: 0;
                    transform: rotate(8deg) translate(200%, 20%);
                    width: 200px;
                    z-index: 12;
                }

                .memory-container:nth-child(6) {
                    transform: rotate(1deg) translate(80%, 0);
                }

                .memory-container:nth-child(7) {
                    top: 70%;
                    right: 10%;
                    transform: rotate(6deg) translate(300%, 0);
                    z-index: 7;
                    width: 150px;
                }

                .memory-container:nth-child(8) {
                    top: 50%;
                    left: 45%;
                    transform: translate(100%, -80%);
                    z-index: 11;
                    /* transform: rotate(5deg); */
                }

                .memory-container:nth-child(9) {
                    top: 87%;
                    left: 0;
                    transform: rotate(10deg) translate(20%, 0);
                    width: 250px;
                    height: auto;
                    z-index: 8;
                }

                .memory-container:nth-child(10) {
                    bottom: 0;
                    right: 0;
                    transform: rotate(20deg) translate();
                    width: 200px;
                    z-index: 13;
                }
            }
        }

    }
}

@media (min-width: 1024px) {
    .home-first-section {

        .first-section-container {

            .data-container {

                .logos-container {

                    .logo-container {
                        width: 140px;

                        .img-container {
                            width: 80%;
                            height: auto;

                            img {
                                height: auto;
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .info-container {
                    padding: 0 0 4rem 1.5rem;

                    .info-container-kicker {
                        font-size: 1.5rem;
                    }

                    /* 3.1 */
                    .info-container-title {
                        font-size: 4.68rem;
                        max-width: 1000px;
                        padding-left: 5%;
                    }

                    .info-container-subheadline {
                        font-size: 2.5rem;
                        padding-left: 5%;
                    }
                }
            }
        }
    }

    .third-section {
        /* padding: 4rem 1.3rem; */
        padding: 10rem 1.3rem;

        .content {
            gap: 4rem;
            max-width: none;
            justify-content: center;

            h3 {
                font-size: 2.5rem;
                max-width: 470px;
                line-height: 1.3;
            }

            p {
                max-width: 500px;
                font-size: 1.5rem;
                line-height: 1.6;
            }

            /* max-width: 850px0px; */
            /* gap: 4rem; */
        }
    }

    .home-fourth-section {

        padding-top: 5rem;

        .title-section {
            padding-bottom: 7rem;
            width: 600px;

            h2 {
                font-size: 2.18rem;
            }

            p {
                font-size: 1.5rem;
                max-width: 520px;
            }

        }

        .tours-section {

            .tours-container {


                .tour-card {
                    height: 310px;
                    padding: .8rem .8rem 0 .8rem;
                }
            }
        }
    }

    .home-last-section {
        .items-container {
            .titles {
                .title {
                    font-size: 5rem;
                    padding-top: 0;
                    transform: translateX(-3.5rem);
                }
            }

            .memories-container {
                .memory-container:nth-child(1) {
                    top: 20px;
                    left: 0;
                    /* z-index: 999; */
                }

                .memory-container:nth-child(2) {
                    top: -6rem;
                    left: 10%;
                    transform: translate(80%, 0px);
                }

                .memory-container:nth-child(3) {
                    transform: translate(-120%);
                }

                .memory-container:nth-child(4) {
                    transform: rotate(-10deg) translate(0, -4rem);
                }

                .memory-container:nth-child(5) {
                    top: 0;
                    left: 0;
                    transform: rotate(-8deg) translate(300%, 20%);
                    width: 200px;
                    z-index: 12;
                }

                .memory-container:nth-child(6) {
                    height: 300px;
                    transform: rotate(1deg) translate(-1rem, -2rem);
                }

                .memory-container:nth-child(7) {
                    bottom: 0;
                    right: 10%;
                    transform: rotate(-6deg) translate(80%, -3rem);
                    z-index: 7;
                    width: 350px;
                }

                .memory-container:nth-child(8) {
                    top: 50%;
                    left: 45%;
                    transform: translate(100%, -80%);
                    z-index: 11;
                    /* transform: rotate(5deg); */
                }

                .memory-container:nth-child(9) {
                    top: 0;
                    right: 0;
                    transform: rotate(10deg) translate(150%, -15rem);
                    width: 250px;
                    height: auto;
                    z-index: 8;
                }

                .memory-container:nth-child(10) {
                    top: 60%;
                    right: 0;
                    transform: rotate(-5deg);
                    width: 250px;
                    height: 200px;
                    z-index: 13;
                }
            }
        }

    }
}

@media (min-width: 1200px) {
    .home-first-section {

        .first-section-container {

            .data-container {

                .info-container {
                    padding: 0 1.5rem 4rem 1.5rem;

                    .info-container-kicker {
                        display: none;
                    }

                    .info-container-kicker.xl {
                        display: block;
                        padding-right: 5%;
                    }

                    .xl-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
    }

    .third-section {


        .content {
            gap: 10rem;
        }
    }
}