.home-first-section {

    height: 100svh;
    overflow: hidden;

    .first-section-container {
        display: grid;
        position: relative;
        height: 100%;
        display: grid;
        padding-top: 4rem;

        .image-container {
            filter: brightness(.5);
            z-index: -1;
            position: absolute;
            inset: 0;
            /* ocupa todo el contenedor */
            z-index: -1;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .data-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: white;

            .logos-container {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                padding-top: 2rem;
                /* padding-left: 1rem; */

                .logo-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .review {
                        display: flex;
                        font-size: 1rem;
                        font-family: var(--font-excelsior);
                    }

                    .star {
                        padding-top: .5rem;
                        display: flex;
                        gap: .2rem;
                    }
                }

                .image-container {
                    filter: brightness(1);
                }

            }

            .info-container {
                font-family: var(--font-excelsior);
                line-height: 1.3;
                padding: 0 0 2rem .6rem;

                .info-container-kicker {
                    font-size: .875rem;
                    line-height: 1;
                    padding-bottom: .5rem;
                    font-style: italic;
                }

                .info-container-kicker.xl {
                    display: none;
                }

                .info-container-title {
                    font-family: var(--font-dk-otago);
                    font-size: 2.31rem;
                    padding-bottom: .5rem;
                    max-width: 500px;
                }

                .info-container-subheadline {
                    font-size: 1.25rem;
                    letter-spacing: -2%;
                    font-style: italic;
                }
            }
        }
    }
}

.home-second-section {
    background-color: var(--local-guides-bg);

    .second-section-container {
        display: flex;
        align-items: center;
        justify-content: center;
        /* gap: 1rem; */
        gap: .7rem;
        padding: 1.5rem 0;

        p {

            font-size: 0.8125rem;
            font-family: var(--font-excelsior);
            font-style: italic;
        }

        .imgs-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
        }

        .imgs-container .img-container:last-child {
            padding-bottom: 2px;
        }
    }
}

.home-fourth-section {
    padding: 2rem 0;

    .title-section {
        padding: 2rem 0;
        text-align: center;

        h2 {
            font-family: var(--font-dk-otago);
            font-size: 1.56rem;
            line-height: 1.45;
        }

        p {
            padding-top: 1rem;
            font-family: var(--font-excelsior);
            font-size: 1.125rem;
            line-height: 1.5;
            width: 80%;
            margin: auto;
        }

        span {
            font-weight: 700;
        }
    }

    .tours-section {
        background-color: var(--main-color);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 1.3rem;
        gap: .8rem;

        :first-child {
            grid-column: span 2;
        }

        .tour-card {
            background-color: white;
            padding: .3rem;

            .tour-data {
                text-align: center;
                padding: .5rem 0 .2rem 0;

                h4 {
                    font-family: var(--font-dk-otago);
                    color: var(--main-color);
                    font-size: 1.125rem;
                }

                p {
                    font-family: var(--font-excelsior);
                    color: #333;
                    font-size: .85rem;
                }
            }
        }

        .tour-card:not(:first-child) {
            height: 224px;

            .img-container {
                aspect-ratio: 1 / 1;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.home-last-section {
    overflow: hidden;
    background-color: #CBDCD9;
    padding: 2rem 0;

    .titles {
        display: grid;

        &>* {
            grid-column: 1;
            grid-row: 1;
        }

        .title {
            font-family: var(--font-excelsior);
            color: var(--main-color);
            font-size: 3.125rem;
            letter-spacing: -2%;
            rotate: -24deg;
            padding: 2rem 0 0 5rem;
        }
    }

    .memories-container {
        position: relative;
        width: 100%;
        height: 110svh;

        .memory-container {
            position: absolute;
            width: auto;
            height: auto;
            overflow: hidden;
            transition: all 0.3s ease;

            img {
                border: 5px solid white;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        .memory-container:hover {
            transform: scale(1.05) rotate(0deg);
            z-index: 99999;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }



        .memory-container:nth-child(1) {
            top: 2cqh;
            left: 8%;
            /* z-index: 999; */
        }

        .memory-container:nth-child(2) {
            top: -2%;
            left: 10%;
            transform: translate(67%, 0px);
        }

        .memory-container:nth-child(3) {
            top: 20%;
            left: 5%;
            transform: translate(-20%);
            /* z-index: 9999; */
        }

        .memory-container:nth-child(4) {
            top: 25%;
            left: 20%;
            transform: rotate(-10deg);
            /* z-index: 9999; */
            width: 235px;
            height: auto;
            z-index: 10;
        }

        .memory-container:nth-child(5) {
            top: 45%;
            left: 70%;
            transform: rotate(-7deg) translate(35%, 0);
            z-index: 12;
        }

        .memory-container:nth-child(6) {
            top: 40%;
            left: 0%;
            transform: rotate(1deg) translate(-40%, 0);
            width: 150px;
            height: auto;
        }

        .memory-container:nth-child(7) {
            top: 70%;
            left: 10%;
            transform: rotate(6deg) translate(-10%);
            z-index: 7;
        }

        .memory-container:nth-child(8) {
            top: 50%;
            left: 45%;
            transform: translate(30%, 0);
            z-index: 11;
            /* transform: rotate(5deg); */
        }

        .memory-container:nth-child(9) {
            top: 87%;
            left: 0;
            transform: rotate(10deg) translate(-20%);
            width: 250px;
            height: auto;
            z-index: 8;
        }

        .memory-container:nth-child(10) {
            top: 85%;
            left: 40%;
            transform: rotate(20deg);
            width: 200px;
            z-index: 13;
        }
    }
}


.memories-container:hover .memory-container:not(:hover) img {
    opacity: 0.9;
    filter: brightness(0.8);
}

@media (min-width: 768px) {
    .home-first-section {

        .first-section-container {

            .data-container {

                .logos-container {
                    padding-top: 0;
                    height: 200px;
                    gap: 0;

                    .logo-container {
                        width: 120px;

                        .img-container {
                            width: 80%;
                            height: auto;

                            img {
                                height: auto;
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .info-container {
                    padding: 0 0 4rem 1.5rem;

                    .info-container-kicker {
                        font-size: 1.475rem;
                    }

                    .info-container-title {
                        font-size: 3.1rem;
                        max-width: 700px;
                    }

                    .info-container-subheadline {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .home-first-section {

        .first-section-container {

            .data-container {

                .logos-container {

                    .logo-container {
                        width: 140px;

                        .img-container {
                            width: 80%;
                            height: auto;

                            img {
                                height: auto;
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .info-container {
                    padding: 0 0 4rem 1.5rem;

                    .info-container-kicker {
                        font-size: 1.5rem;
                    }

                    /* 3.1 */
                    .info-container-title {
                        font-size: 4.68rem;
                        max-width: 900px;
                    }

                    .info-container-subheadline {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .home-first-section {

        .first-section-container {

            .data-container {

                .info-container {
                    padding: 0 1.5rem 4rem 1.5rem;

                    .info-container-kicker {
                        display: none;
                    }

                    .info-container-kicker.xl {
                        display: block;
                    }

                    .xl-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
    }
}