.tour-hero-section {
    padding: 6rem 1.3rem 2rem 1.3rem;

    .image-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .3rem;

        .image-item:first-child {
            grid-column: span 2;
            aspect-ratio: 3 / 2;
        }

        .image-item {
            aspect-ratio: 3 / 4;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .header-container {
        padding-top: 1rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #B9B9B9;

        .title-container {
            .stars-container {
                display: flex;
                gap: .2rem;

                svg {
                    width: 1rem;
                    fill: #E7B53F;
                    stroke: none;
                }
            }

            h1 {
                font-family: var(--font-dk-otago);
                font-size: 1.6rem;
                color: var(--main-color);
                line-height: 1.4;
            }
        }

        .reviews-container {
            display: flex;
            justify-content: space-between;
            padding-top: .5rem;

            .google-container,
            .tripadvisor-container {
                display: flex;
                align-items: center;
                justify-content: center;
                /* gap: .4rem; */

                .img-container {
                    width: 60px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                span {
                    padding: 0 .4rem;
                }

                p {
                    font-family: var(--font-excelsior);
                    font-size: 0.875rem;
                    color: var(--main-color);
                    ;
                }
            }
        }

        .price-container {
            padding-top: 1.5rem;
            display: flex;
            font-family: var(--font-excelsior);
            font-size: 1rem;
            columns: #333;
            gap: .3rem;

            h2 {
                font-weight: 700;
            }
        }

        .availability-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-family: var(--font-excelsior);
                font-size: 1rem;
                color: var(--main-color);
                line-height: 1.28;
                text-decoration: underline;
            }
        }
    }

}

.tour-features {
    padding: 0 1.3rem 0 1.3rem;
    .features-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-bottom: 1px solid #B9B9B9;
        padding-bottom: 2em;

        .feature-item:last-child {
            grid-column: span 2;
        }

        .feature-item {
            font-family: var(--font-excelsior);
            color: #333;
            .feature-header {
                display: flex;
                gap: .3rem;
                color: var(--main-color);
                text-transform: uppercase;
                font-size: .875rem;
            }
        }

        
    }
}

.tour-description-section {
    padding: 2rem 1.3rem;
    font-family: var(--font-excelsior);
    font-size: 1.125rem;
    color: #333;

    .description-text {
        border-bottom: 1px solid #B9B9B9;
    }
}

.tour-conditions {
    padding: 0 1.3rem 2rem 1.3rem;

    .condition-item {
        display: flex;
        align-items: center;
        gap: .5rem;
        color: var(--main-color);
        font-family: var(--font-excelsior);
    }
}