.tour-hero-section {
    padding: 6rem 1.3rem 2rem 1.3rem;
    max-width: 600px;
    margin: auto;

    @media (min-width: 768px) {
        max-width: none;
    }

    @media (min-width: 1024px) {
        max-width: 1200px;
        margin: 0 auto;
    }

    .image-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .3rem;
        height: 450px;

        @media (min-width: 460px) {
            height: 500px;
        }

        @media (min-width: 1024px) {
            height: 600px;
        }

        /* max-height: 500px; */

        .image-item:first-child {
            grid-column: span 2;
            aspect-ratio: 3 / 2;
            height: 100%;
            width: 100%;

            /* @media (min-width: 640px) {
                height: 250px;
            } */

            @media (min-width: 768px) {
                grid-row: span 2;
                grid-column: 1;
                height: 100%;
            }
        }

        .image-item {
            aspect-ratio: 3 / 4;
            overflow: hidden;
            height: 100%;
            width: 100%;

            /* @media (min-width: 640px) {
                height: 290px;
            } */



            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .header-container {
        padding-top: 1rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #B9B9B9;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .check-availaibity-component {
            @media(min-width: 768px) {
                display: none;
            }
        }

        .title-container {
            .stars-container {
                display: flex;
                gap: .2rem;

                svg {
                    width: 1rem;
                    fill: #E7B53F;
                    stroke: none;
                }
            }

            h1 {
                font-family: var(--font-dk-otago);
                font-size: 1.6rem;
                color: var(--main-color);
                line-height: 1.4;

                @media (min-width: 768px) {
                    font-size: 2rem;
                }

                @media (min-width: 1024px) {
                    font-size: 2.5rem;
                }
            }
        }

        .price-available {
            display: none;

            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            .price-container {
                @media (min-width: 768px) {
                    display: flex;
                    padding-top: 0;
                    font-size: 1.25rem;
                }
            }
        }

        .reviews-container {
            display: flex;
            justify-content: space-between;
            padding-top: .5rem;
            max-width: 340px;

            @media (min-width: 768px) {
                max-width: 360px;
            }

            .google-container,
            .tripadvisor-container {
                display: flex;
                align-items: center;
                justify-content: center;
                /* gap: .4rem; */

                .img-container {
                    width: 60px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                span {
                    padding: 0 .4rem;
                }

                p {
                    font-family: var(--font-excelsior);
                    font-size: 0.875rem;
                    color: var(--main-color);

                    @media (min-width: 768px) {
                        font-size: 1rem;
                    }
                }
            }
        }

        .price-container {
            padding-top: 1.5rem;
            display: flex;
            font-family: var(--font-excelsior);
            font-size: 1rem;
            columns: #333;
            gap: .3rem;

            @media (min-width: 768px) {
                display: none;
            }

            h2 {
                font-weight: 700;
            }
        }

        .availability-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (min-width: 768px) {
                display: none;
            }

            .availability-btn {
                font-family: var(--font-excelsior);
                font-size: 1rem;
                color: var(--main-color);
                line-height: 1.28;
                text-decoration: underline;
                display: flex;

                svg {
                    rotate: 180deg;
                }
            }
        }

        .calendar-availability {
            padding-top: 2rem;
            transition: all .4s ease-in-out;
        }

        .calendar-availability.inactive {
            opacity: 0;
            display: none;
            z-index: 0;
        }

        .calendar-availability.active {
            opacity: 1;
            z-index: 1;
        }
    }
}

.tour-features {
    padding: 0 1.3rem 0 1.3rem;

    .features-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-bottom: 1px solid #B9B9B9;
        padding-bottom: 2rem;
        gap: 1rem;

        .feature-item:last-child {
            grid-column: span 2;
        }

        .feature-item {
            font-family: var(--font-excelsior);
            color: #333;
            font-size: .875rem;

            @media (min-width: 768px) {
                font-size: 1rem;
            }

            @media (min-width: 768px) {
                font-size: 1.15rem;
            }

            .feature-header {
                display: flex;
                gap: .3rem;
                color: var(--main-color);
                text-transform: uppercase;
            }
        }


    }
}

.tour-description-section {
    padding: 2rem 1.3rem;
    font-family: var(--font-excelsior);
    font-size: 1.125rem;
    color: #333;

    .description-text {
        border-bottom: 1px solid #B9B9B9;
    }
}

.tour-conditions {
    padding: 0 1.3rem 2rem 1.3rem;
    max-width: 600px;
    margin: auto;

    @media (min-width: 768px) {
        max-width: none;
    }

    @media (min-width: 1200px) {
        max-width: 1200px;
        margin: 0 auto;
    }

    .tour-condition-container {

        .condition-item {
            display: flex;
            align-items: center;
            gap: .5rem;
            color: var(--main-color);
            font-family: var(--font-excelsior);
            text-transform: uppercase;
        }
    }
}

.tour-highlights {
    background-color: var(--local-guides-bg);

    .tour-highlights-container {
        max-width: 600px;
        margin: auto;
        padding: 2rem 1.3rem 0 1.3rem;

        @media (min-width: 768px) {
            max-width: none;
        }

        @media (min-width: 1024px) {
            max-width: 1200px;
            margin: 0 auto;
        }

        .highlight-title {
            font-family: var(--font-dk-otago);
            font-size: 1.5rem;
            padding-bottom: 1.3rem;
        }

        .highlights-container.mobile {
            @media (min-width: 768px) {
                display: none;
            }
        }

        .highlights-container.desktop {
            display: none;

            @media (min-width: 768px) {
                display: flex;
            }
        }

        .highlights-container {
            padding-bottom: 2rem;
            display: flex;

            @media (min-width: 768px) {
                gap: 1rem;
            }

            .carousel-wrapper {
                width: 100%;
                height: 100%;
            }

            .highlight-item {
                background-color: white;
                padding: .6rem;
                /* max-height: 600px; */
                height: 500px;
                overflow: hidden;
                display: flex;
                flex-direction: column;

                @media (min-width: 768px) {
                    width: 33%;
                }

                @media (min-width: 1200px) {
                    width: 33%;
                    height: 600px;
                }

                .highlight-image-container {
                    /* aspect-ratio: 4 / 5; */
                    overflow: hidden;
                    height: 90%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }

                .highlight-text-container {
                    padding: 1.3rem 0 .8rem 0;
                    text-align: center;
                    font-family: var(--font-excelsior);
                    font-size: 1.125rem;

                    span {
                        font-style: italic;
                    }
                }
            }
        }
    }


}

.section-container-desktop {
    max-width: 600px;
    margin: auto;

    .right-side {
        display: none;
    }
}

.itinerary-section {
    max-width: 1200px;
    margin: 0 auto;

    .itinerary-container {
        padding: 2rem 1.3rem;

        .itinerary-container-elements {
            @media (min-width: 768px) {
                display: flex;


                .desktop-images {
                    display: none;

                    @media (min-width: 768px) {
                        display: block;
                        width: 50%;
                        overflow-y: hidden;
                        position: relative;
                    }

                    .images-container {
                        position: absolute;
                        top: 0;
                        display: flex;
                        flex-direction: column;
                        .img-container {
                            height: 400px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .img-container:nth-child(1){
                            transform: scale(.7) rotate(-20deg);
                        }

                        .img-container:nth-child(2){
                            transform: scale(.7) rotate(20deg) translate(10rem, -10rem);
                        }

                        .img-container:nth-child(3){
                            top: 0;
                            transform: scale(.7) rotate(20deg) translate(10rem, -10rem);
                        }
                    }
                    
                }

                .itinerary-title {
                    font-family: var(--font-dk-otago);
                    padding-bottom: 2rem;
                    font-size: 1.5rem;
                }

                .itinerary-steps-container {

                    @media (min-width: 768px) {
                        width: 50%;
                    }

                    position: relative;
                    padding-left: 1.5rem;

                    &::after {
                        content: "";
                        position: absolute;
                        left: .45rem;
                        /* Centrada con los círculos principales */
                        top: 1.7rem;
                        /* Empieza después del primer círculo */
                        bottom: 6rem;
                        /* Termina antes del último círculo */
                        width: 2px;
                        background-color: var(--title-color);
                        z-index: -1;
                        /* Detrás de los círculos */
                    }



                    .itinerary-step {
                        position: relative;
                        padding-bottom: 1rem;

                        .itinerary-step-title {
                            font-size: 1.3rem;
                            font-family: var(--font-dk-otago);
                            color: var(--title-color);
                        }

                        .itinerary-step-information {
                            display: flex;
                            padding: 1rem 0;
                            font-family: var(--font-excelsior);

                            .itinerary-step-data {
                                span {
                                    color: var(--title-color)
                                }
                            }
                        }

                        .itinerary-step-subtitle {
                            color: #333;
                            opacity: 50%;
                            font-size: 1rem;
                            font-family: var(--font-excelsior);
                            padding-bottom: 1rem;
                        }

                        .stop-items-container {
                            display: flex;
                            flex-direction: column;
                            gap: .6rem;

                            .stop-item {
                                font-family: var(--font-excelsior);
                                font-size: 1.1rem;
                                position: relative;

                                span {
                                    font-style: italic;
                                }


                                .stop-item-img {
                                    aspect-ratio: 3 / 4;
                                    max-height: 300px;
                                    overflow: hidden;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }

                                    @media (min-width: 460px) {
                                        display: none;
                                    }
                                }

                            }

                            .stop-item::before {
                                content: "";
                                position: absolute;
                                left: -1.4rem;
                                top: .5rem;
                                width: 14px;
                                height: 14px;
                                border-radius: 50%;
                                background-color: white;
                                border: 1px solid var(--title-color);
                            }

                        }
                    }

                    .itinerary-step::before {
                        content: "";
                        position: absolute;
                        left: -1.5rem;
                        top: .5rem;
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        background-color: var(--title-color);
                        z-index: 1;
                    }


                }
            }
        }
    }
}

@media (min-width: 768px) {
    .section-container-desktop {
        display: flex;
        padding-right: 1.3rem;
        max-width: none;

        .left-side {
            width: 70%;
        }

        .right-side {
            width: 30%;
            max-height: 500px;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

@media (min-width: 1024px) {
    .section-container-desktop {
        max-width: 1200px;
        margin: 0 auto;
    }
}

/* .itinerary-step::after {
            content: "";
            position: absolute;
            left: -1.5remrem;
            top: 1;
            bottom: 0;
            width: 2px;
            background-color: #2c7a7b;
        } */

/* .itinerary-steps-container::before {
            content: "";
            position: absolute;
            left: 0.6rem;
            top: 0;
            bottom: 0;
            width: 2px;
            background-color: #2c7a7b;
        } */