.tour-hero-section {
    padding: 6rem 1.3rem 2rem 1.3rem;

    .image-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .3rem;

        .image-item:first-child {
            grid-column: span 2;
            aspect-ratio: 3 / 2;
        }

        .image-item {
            aspect-ratio: 3 / 4;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .header-container {
        padding-top: 1rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #B9B9B9;
        .title-container {
            .stars-container {
                display: flex;
                gap: .2rem;
                svg {
                    width: 1rem;
                    fill: #E7B53F;
                    stroke: none;
                }
            }
            h1 {
                font-family: var(--font-dk-otago);
                font-size: 1.6rem;
                color: var(--main-color);
                line-height: 1.4;
            }
        }
        .reviews-container {
            display: flex;
            justify-content: space-between;
            padding-top: .5rem;

            .google-container, .tripadvisor-container {
                display: flex;
                align-items: center;
                justify-content: center;
                /* gap: .4rem; */

                .img-container {
                    width: 60px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                span {
                    padding: 0 .4rem;
                }

                p {
                    font-family: var(--font-excelsior);
                    font-size: 0.875rem;
                    color: var(--main-color);;
                }
            }
        }
        .price-container {
            padding-top: 1.5rem;
            display: flex;
            font-family: var(--font-excelsior);
            font-size: 1rem;
            columns: #333;
            gap: .3rem;
            h2 {
                font-weight: 700;
            }
        }

        .availability-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-family: var(--font-excelsior);
                font-size: 1rem;
                color: var(--main-color);
                line-height: 1.28;
                text-decoration: underline;
            }
        }
    }
}