.tour-hero-section {
    padding: 6rem 1.3rem 2rem 1.3rem;
    max-width: 600px;
    margin: auto;

    @media (min-width: 768px) {
        max-width: none;
    }

    .image-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .3rem;
        /* max-height: 500px; */

        .image-item:first-child {
            grid-column: span 2;
            aspect-ratio: 3 / 2;
            height: 223px;
            width: 100%;

            @media (min-width: 640px) {
                height: 250px;
            }

            @media (min-width: 768px) {
                grid-row: span 2;
                grid-column: 1;
                height: 100%;
            }
        }

        .image-item {
            aspect-ratio: 3 / 4;
            overflow: hidden;
            height: 219px;
            width: 100%;

            @media (min-width: 640px) {
                height: 290px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .header-container {
        padding-top: 1rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #B9B9B9;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .title-container {
            .stars-container {
                display: flex;
                gap: .2rem;

                svg {
                    width: 1rem;
                    fill: #E7B53F;
                    stroke: none;
                }
            }

            h1 {
                font-family: var(--font-dk-otago);
                font-size: 1.6rem;
                color: var(--main-color);
                line-height: 1.4;

                @media (min-width: 768px) {
                    font-size: 2rem;
                }

                @media (min-width: 1024px) {
                    font-size: 2.5rem;
                }
            }
        }

        .price-available {
            display: none;

            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            .price-container {
                @media (min-width: 768px) {
                    display: flex;
                    padding-top: 0;
                    font-size: 1.25rem;
                }
            }
        }

        .reviews-container {
            display: flex;
            justify-content: space-between;
            padding-top: .5rem;
            max-width: 340px;

            @media (min-width: 768px) {
                max-width: 360px;
            }

            .google-container,
            .tripadvisor-container {
                display: flex;
                align-items: center;
                justify-content: center;
                /* gap: .4rem; */

                .img-container {
                    width: 60px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                span {
                    padding: 0 .4rem;
                }

                p {
                    font-family: var(--font-excelsior);
                    font-size: 0.875rem;
                    color: var(--main-color);

                    @media (min-width: 768px) {
                        font-size: 1rem;
                    }
                }
            }
        }

        .price-container {
            padding-top: 1.5rem;
            display: flex;
            font-family: var(--font-excelsior);
            font-size: 1rem;
            columns: #333;
            gap: .3rem;

            @media (min-width: 768px) {
                display: none;
            }

            h2 {
                font-weight: 700;
            }
        }

        .availability-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (min-width: 768px) {
                display: none;
            }

            p {
                font-family: var(--font-excelsior);
                font-size: 1rem;
                color: var(--main-color);
                line-height: 1.28;
                text-decoration: underline;
            }
        }
    }
}

.tour-features {
    padding: 0 1.3rem 0 1.3rem;

    .features-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-bottom: 1px solid #B9B9B9;
        padding-bottom: 2rem;
        gap: 1rem;

        .feature-item:last-child {
            grid-column: span 2;
        }

        .feature-item {
            font-family: var(--font-excelsior);
            color: #333;

            .feature-header {
                display: flex;
                gap: .3rem;
                color: var(--main-color);
                text-transform: uppercase;
                font-size: .875rem;
            }
        }


    }
}

.tour-description-section {
    padding: 2rem 1.3rem;
    font-family: var(--font-excelsior);
    font-size: 1.125rem;
    color: #333;

    .description-text {
        border-bottom: 1px solid #B9B9B9;
    }
}

.tour-conditions {
    padding: 0 1.3rem 2rem 1.3rem;
    max-width: 600px;
    margin: auto;

    @media (min-width: 768px) {
        max-width: none;
    }

    .tour-condition-container {
        
        .condition-item {
            display: flex;
            align-items: center;
            gap: .5rem;
            color: var(--main-color);
            font-family: var(--font-excelsior);
        }
    }
}

.tour-highlights {
    background-color: var(--local-guides-bg);
    
    .tour-highlights-container {
        max-width: 600px;
        margin: auto;
        padding: 2rem 1.3rem 0 1.3rem;

        .highlight-title {
            font-family: var(--font-dk-otago);
            font-size: 1.5rem;
            padding-bottom: 1.3rem;
        }

        .highlights-container {
            padding-bottom: 2rem;

            .highlight-item {
                background-color: white;
                padding: .6rem;
                max-height: 600px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                ;

                .highlight-image-container {
                    /* aspect-ratio: 4 / 5; */
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }

                .highlight-text-container {
                    padding: 1.3rem 0 .8rem 0;
                    text-align: center;
                    font-family: var(--font-excelsior);
                    font-size: 1.125rem;
                }
            }
        }
    }
}

.section-container-desktop {
    max-width: 600px;
    margin: auto;
    .right-side {
        display: none;
    }
}

@media (min-width: 768px){
    .section-container-desktop {
        display: flex;
        padding-right: 1.3rem;
        max-width: none;

        .left-side {
            width: 70%;
        }

        .right-side {
            width: 30%;
            max-height: 500px;
            display: block;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

