.comment-container {
    font-family: var(--font-excelsior);
    border-bottom: 1px solid #A3A3A3;
    padding: 2rem 0;
    height: fit-content;

    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1024px) {
        border: 1px solid #B9B9B9;
        padding: 2rem;
        max-width: 300px;
    }

    @media (min-width: 1200px) {
        max-width: none;
        width: calc(1100px / 3);
    }

    .stars-container {
        display: flex;

        svg {
            width: 1rem;
            fill: #E7B53F;
            stroke: none;
        }
    }

    .data-section {
        font-size: 1.125rem;

        h4 {
            font-weight: 700;
        }

        p {
            padding: .5rem 0 .7rem 0;
            line-height: 1.28;
        }
    }

    .author-section {
        display: flex;
        font-size: 1rem;

        .date-element {
            display: flex;
            color: #A3A3A3;
        }
    }
}