
.comment-container {
    font-family: var(--font-excelsior);
    border-bottom: 1px solid #A3A3A3;
    padding: 2rem 0;
    .stars-container {
        display: flex;
        svg {
            width: 1rem;
            fill: #E7B53F;
            stroke: none;
        }
    }
    .data-section {
        font-size: 1.125rem;
        h4 {
            font-weight: 700;
        }
        p {
            padding: .5rem 0 .7rem 0;
            line-height: 1.28;
        }
    }

    .author-section {
        display: flex;
        font-size: 1rem;

        .date-element {
            display: flex;
            color: #A3A3A3;
        }
    }
}