.footer {
    color: white;

    .footer-first-section {
        background-color: var(--second-green);
        padding: 2rem 1.3rem;

        .first-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 1.3rem;

            .logo {
                max-width: 120px;
            }

            .social-media {
                display: flex;
                align-items: center;
                gap: .5rem;
                width: 50%;
                justify-content: space-between;
                max-width: 165px;

                @media (min-width: 768px) {
                    display: none;
                }

                .img-container {
                    max-width: 25px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .cities-desktop,
            .positions-desktop {
                display: none;

                /* @media (min-width: 768px) {
                    display: flex;
                    align-items: center;
                } */
            }
        }

        .second-section {
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-family: var(--font-excelsior);

            @media (min-width: 768px) {
                display: none;
            }

            .city-item {
                text-decoration: none !important;
            }
            a:first-child {
                text-decoration: underline;
            }
        }
    }

    .footer-second-section {
        color: #8D8D8D;
        padding: 2rem 1.3rem;
        font-size: 0.85rem;
        text-align: center;
        line-height: 1.5;
        font-family: var(--font-excelsior);
    }

}

.separator {
    @media (min-width: 768px) {
        display: none;
    }
}

@media (min-width: 768px) {
    .footer .footer-first-section {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .footer .footer-first-section .first-section .logo {
        max-width: 165px;
        align-items: flex-start;
    }

    .footer .footer-first-section .first-section {
        justify-content: space-around;
    }

    .cities-desktop {
        display: block !important;

        h6 {
            font-family: var(--font-dk-otago);
            font-size: 25px;
            padding-bottom: 1rem;
        }

        .cities-links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 1rem;

            a {
                font-family: var(--font-excelsior);
                font-size: 20px;
            }
        }
    }

    .positions-desktop {
        display: block !important;
        width: 180px;

        .positions {
            a {
                display: block;
                font-family: var(--font-excelsior);
                font-size: 20px;
            }
        }

        .social-media {
            display: flex !important;
            width: 100% !important;
            padding-top: 1rem;
            max-width: none !important;
            gap: 1rem !important;

            .img-container {

                max-width: 50px !important;
            }
        }
    }
}

@media (min-width: 1024px) {
    .cities-desktop {
        .cities-links {
            gap: 0 2rem;
        }
    }
}