.local-guide-container {
    background-color: var(--local-guides-bg);
    padding: 2rem .5rem;

    @media (min-width: 1024px) {
        /* max-width: 500px; */
        margin: auto;
        max-width: 1200px;
    }

    .local-guide-title {
        font-family: var(--font-dk-otago);
        font-size: 1.5rem;
        line-height: 1;
        width: 330px;
        margin: auto;
        padding-bottom: 2rem;

        @media (min-width: 768px) {
            font-size: 2rem;
            width: auto;
            padding-left: 2.5rem;
        }
    }


    .value-cards-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
        width: fit-content;
        margin: auto;

        @media (min-width: 768px) {
            margin: 0;
            padding-left: 2.5rem;
        }




        .value-card {
            width: 330px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: var(--background);
            padding: 2rem 1.3rem;

            .value-card-personal-info {
                display: flex;
                align-items: center;
                width: 100%;
                border-bottom: 1px solid #B9B9B9;
                justify-content: space-between;
                padding-bottom: 1.5rem;

                .img-container {
                    width: 126px;
                    height: 126px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover
                    }
                }

                .value-card-titles {
                    .value-card-name {
                        font-family: var(--font-dk-otago);
                        font-size: 1.25rem;
                        color: var(--main-color);
                    }

                    .country-name {
                        display: flex;
                        align-items: center;
                        gap: .3rem;
                        font-family: var(--font-excelsior);
                        text-transform: uppercase;
                    }
                }

            }

            .value-card-description {
                font-family: var(--font-excelsior);
                font-size: 1.125rem;
                padding-top: 1rem;

                .value-card-last-section {
                    padding-top: 1.5rem;

                    .last-section-title {
                        display: flex;
                        align-items: center;
                        gap: .3rem;
                        color: var(--main-color);
                        text-transform: uppercase;
                        font-size: .875rem;
                    }
                }
            }

            /* .info-card {
                font-family: var(--font-excelsior);
                color: #333333;
                padding: 1rem 1.5rem;
                height: fit-content;
                width: 95%;
                border: 1px solid yellow;


                h4 {
                    font-size: 1.3rem;
                    padding: 1rem 0;
                    max-width: 80%;
                }

                hr {
                    color: #B9B9B9;
                }

                p {
                    padding: 1rem 0;
                    font-size: 1.125rem;
                }
            } */
        }
    }
}