#mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-menu-mobile {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

    /* gap: 1rem; */
    /* height: 100%; */

    .menu-item {
        color: var(--title-color);
        border-top: 1px solid var(--title-color);
        padding: 1rem 0 1rem 1rem;

        &:first-child {
            padding: 1rem 0 0 1rem;
        }

    }

    .menu-link {
        display: flex;
        align-items: center;
        gap: .5rem;
        img {
            aspect-ratio: 1 / 1;
            max-width: 20px;
        }
    }
}

.cities-child {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: .2rem;
    padding-bottom: 1rem;

    a {
        padding-top: .3rem;
    }
}

.social-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding-bottom: 2rem;

    li {
        border: 1px solid;
        border-radius: 50%;
        padding: 3px;
    }
}