.sherpa-header {
    /* height: 60px; */
    font-family: var(--font-excelsior);
    font-size: 0.93rem;
    padding: .5rem 1rem;
    position: fixed;
    z-index: 9999;
    background-color: var(--background);
    width: 100%;

    .sherpa-navbar {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-container {
            padding: 0;
            padding-top: .3rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 85px;

            @media (min-width: 768px){
                width: 110px;
            }


            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.navbar-desktop {
    .container {
        .main-searcher {
            .searcher {
                color: white;
                text-decoration: none;
                font-size: 14px;
            }

            svg {
                display: none;
            }
        }

        .dropdown-menu {
            .city-list {
                min-width: 200px;
                .city-item {
                    /* border: 1px solid; */
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .sherpa-header {
        padding: 1rem 2rem;
    }
}

@media (min-width: 1024px) {
    .sherpa-header {
        padding: 1rem 4rem;
    }
}

@media (min-width: 1200px) {
    .sherpa-header {
        padding: 1rem 6rem;
    }
}