.our-experiences-section {
    background-color: var(--main-color);
    color: white;

    .our-experiences-section-desktop {
        display: none;
    }

    .our-experiences-section-first-part {
        padding: 2rem 1.3rem 0rem 1.3rem;
        color: white;
        max-width: 480px;
        margin: auto;

        @media (min-width: 480px) {
            padding-left: 0;
        }

        .title-section {
            h2 {
                font-family: var(--font-dk-otago);
                line-height: 1.5;
                font-size: 1.5rem;
                padding: 1rem 0 2rem 0;

            }
        }

        .content-section {
            font-family: var(--font-excelsior);
            font-size: 1.5rem;

            h4 {
                font-family: var(--font-dk-otago);
            }

            p {
                font-style: italic;
                padding-top: 1rem;
                line-height: 1.5;
                letter-spacing: -2%;
                max-width: 90%;
            }

            span {
                font-style: normal;

            }
        }
    }

    .img-container {
        aspect-ratio: 3 / 4;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /* .our-experiences-section-last-part {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;


    button {
      width: fit-content;
      font-family: var(--font-dk-otago);
      font-size: 1.5rem;
    }

    .share-btn {
      padding-bottom: 1.3rem;
    }

    .explore-btn {
      padding-top: 1.3rem;
    }

  } */

    .our-experiences-section-second-part {
        padding: 0rem 0rem 2rem 0rem;
        max-width: 480px;
        margin: auto;


        .item {
            color: #333333;

            summary {
                padding: 0 1.3rem;
                width: fit-content;
                font-family: var(--font-dk-otago);
                font-size: 1.5rem;
                padding-bottom: 1rem;

                @media (min-width: 480px) {
                    padding-left: 0;
                }

            }

            summary.active {
                color: white;
            }



            .content {
                padding: 0 1.3rem 1rem 1.3rem;
                font-family: var(--font-excelsior);
                font-size: 25px;
                max-width: 360px;
                padding-top: 1rem;
                line-height: 1.25;

                @media (min-width: 480px) {
                    padding-left: 0;
                }

                span {
                    font-style: italic;
                }
            }

            .img-container {
                padding-bottom: 1rem;
            }
        }

        details[open] .content,
        details[open] hr {
            color: white;
        }

        .item summary {
            list-style: none;
        }

        .item summary::-webkit-details-marker,
        .item summary::marker {
            display: none;
        }

        hr {
            padding: .3rem 0;
            width: 90%;
            margin: auto;

            @media (min-width: 480px) {
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) {
    .our-experiences-section {
        display: flex;
        height: 515px;

        .our-experiences-section-first-part {
            display: none;
        }

        .our-experiences-section-second-part {
            display: none;
        }

        .our-experiences-section-desktop {
            display: flex;
            width: 100%;
            gap: 1rem;
            font-family: var(--font-dk-otago);

            .info-section {
                width: 50%;
                padding: 2rem 1.3rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                h2 {
                    font-size: 2.2rem;
                }

                .item {
                    font-size: 1.8rem;
                    padding-top: 1.5rem;
                    color: #333333;

                    summary {
                        cursor: pointer;
                    }

                    .content {
                        font-size: 1.6rem;
                        font-family: var(--font-excelsior);

                        span {
                            font-style: italic;
                        }
                    }

                    summary.active {
                        color: white;
                    }
                }

                details[open] .content,
                details[open] hr {
                    color: white;
                }

            }

            .images-section {
                width: 50%;

                .images-container {
                    height: 100%;
                    width: 100%;
                    position: relative;

                    .img-item {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: opacity .2s ease-in;
                        /* height: 100%; */

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                    }

                    .active {
                        opacity: 1;
                    }


                }
            }

        }

    }
}

@media (min-width: 1024px) {
    .our-experiences-section {
        height: 700px;

        .our-experiences-section-desktop {

            .info-section {
                padding-top: 0rem;
                padding-left: 3rem;
                max-width: 600px;
                margin: auto;
            }
        }
    }
}