.sherpa-article {
    padding-top: 6rem;
    font-family: var(--font-excelsior);
    font-weight: 400;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    margin: auto;

    .article-content {
        max-width: 500px;
        margin: 0 auto;

        @media screen and (min-width: 640px) {
            margin: 3rem auto;
        }
    }
    
    .main-img-container {
        aspect-ratio: 5 / 4;
        overflow: hidden;
        max-width: 1200px;
        margin: auto;
        
        @media screen and (min-width: 640px) {
            aspect-ratio: auto;
            max-height: 600px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    figure {
        margin: 1.5rem 0;

        @media screen and (min-width: 640px) {
            margin: 3rem auto;
        }
    }

    h1 {
        color: var(--title-color);
        font-size: 1.6rem;
        line-height: 1.25;
        letter-spacing: -0.02em;
        margin: 1.5rem 0;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.5;
        letter-spacing: 0;
        color: black;
        margin-top: 1.3rem;

        @media screen and (min-width: 640px) {
            margin-top: 2rem;
        }

        a {
            text-decoration: underline;
        }
    }

    h2 {
        color: var(--subtitle-color);
        text-transform: uppercase;
        font-family: var(--font-dk-otago);
        font-size: 1.5rem;
        margin: 1.5rem 0;

        @media screen and (min-width: 640px) {
            margin: 2.2rem 0;
        }
    }

    h3 {
        color: var(--title-color);
        line-height: 1.35;
        margin: 1.5rem 0;
        font-size: 1.5rem;

        @media screen and (min-width: 640px) {
            margin: 2.2rem 0;
        }

    }

    h4 {
        color: black;
        font-size: 1.6rem;
        font-family: var(--font-dk-otago);
    }
}