.sherpa-article {
    padding-top: 6rem;
    font-family: var(--font-excelsior);
    font-weight: 400;
    margin: auto;


    .article-content {
        max-width: 500px;
        margin: 0 auto;
        padding: 0 1.3rem;

        @media screen and (min-width: 640px) {
            margin: 3rem auto;
        }

        @media (min-width: 1200px){
            max-width: 800px;
        }

        /* div {
            padding-left: 1.3rem;
            padding-right: 1.3rem;
        } */

    }

    .main-img-container {
        aspect-ratio: 5 / 4;
        overflow: hidden;
        max-width: 1200px;
        margin: auto;
        padding-left: 1.3rem;
        padding-right: 1.3rem;

        @media screen and (min-width: 640px) {
            aspect-ratio: auto;
            max-height: 600px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    figure {
        margin: 1.5rem 0;

        @media screen and (min-width: 640px) {
            margin: 3rem auto;
        }
    }

    h1 {
        color: var(--title-color);
        font-size: 1.6rem;
        line-height: 1.25;
        letter-spacing: -0.02em;
        margin: 1.5rem 0;
        /* padding-left: 1.3rem;
        padding-right: 1.3rem; */
    }

    p {
        font-size: 1.125rem;
        line-height: 1.5;
        letter-spacing: 0;
        color: black;
        margin-top: 1.3rem;

        @media screen and (min-width: 640px) {
            margin-top: 2rem;
        }

        a {
            text-decoration: underline;
        }
    }

    h2 {
        color: var(--subtitle-color);
        text-transform: uppercase;
        font-family: var(--font-dk-otago);
        font-size: 1.5rem;
        margin: 1.5rem 0;

        @media screen and (min-width: 640px) {
            margin: 2.2rem 0;
        }
    }

    h3 {
        color: var(--title-color);
        line-height: 1.35;
        margin: 1.5rem 0;
        font-size: 1.5rem;

        @media screen and (min-width: 640px) {
            margin: 2.2rem 0;
        }

    }

    h4 {
        color: black;
        font-size: 1.6rem;
        font-family: var(--font-dk-otago);
    }

    /* .tour-cards-section {
        background-color: var(--main-color);
        padding: 4rem 1rem;

        .tour-cards {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0;


            .tour-card {
                background-color: var(--background);
                padding: 1rem;

                div {
                    padding: 0;
                }
                .img-container {
                    aspect-ratio: 3 / 2;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .data-container {
                    padding: 0;
                    h3 {
                        font-family: var(--font-dk-otago);
                        width: 90%;
                        font-size: 1.5625rem;
                        line-height: 1.4;
                    }

                    .title {
                        font-family: var(--font-excelsior);
                        color: var(--main-color);
                        text-transform: uppercase;
                        font-size: 14px;
                    }

                    .headline {
                        p {
                            font-family: var(--font-excelsior);
                            font-size: 1rem;
                        }
                    }

                    .size-container {
                        width: fit-content;
                        margin-left: auto;
                    }

                    .info-container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 1rem;
                        padding: 1rem 0;

                        .title {
                            display: flex;
                            align-items: center;
                            gap: .3rem;
                        }


                        p {
                            margin: 0;
                        }

                        .included-container {
                            grid-column: span 2;
                        }

                    }

                    .footer-container {
                        .price {
                            font-family: var(--font-excelsior);
                            text-align: right;
                            font-size: 1.125rem;

                            span {
                                font-weight: bold;
                            }
                        }

                        .final {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-top: 1rem;
                            font-family: var(--font-excelsior);

                            p {
                                margin: 0;
                                color: var(--main-color);
                                text-decoration: underline;
                            }
                        }
                    }

                }
            }
        }
    } */
}