.main-section-container {
    display: grid;
    height: 100svh;

    &>* {
        grid-column: 1;
        grid-row: 1;
    }

    .image-container {
        overflow: hidden;
        z-index: 1;

        img {
            filter: brightness(.8);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .data-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        z-index: 2;

        .data {
            padding: 0 0 2rem 1.3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width: 1024px) {
                gap: 3rem;
            }

            .data-info {
                h1 {
                    font-family: var(--font-dk-otago);
                    font-size: 2.3rem;
                    max-width: 300px;
                    line-height: 1.3;

                    @media (min-width: 768px) {
                        font-size: 3.3rem;
                        max-width: none;
                    }

                    @media (min-width: 1024px) {
                        font-size: 4.6rem;
                        padding-bottom: 1rem;
                        max-width: 900px;
                    }
                }

                p {
                    font-family: var(--font-excelsior);
                    font-size: 1.125rem;
                    line-height: 1.3;
                    max-width: 300px;

                    @media (min-width: 768px) {
                        font-size: 1.7rem;
                        max-width: 530px;
                    }

                    @media (min-width: 1024px) {
                        font-size: 2.5rem;
                        max-width: 700px;
                    }
                }
            }

            .ctas {
                display: flex;
                gap: .5rem;

                @media (min-width: 1024px) {
                    padding-bottom: 1rem;
                }


                @media (min-width: 768px) {
                    .book-now-button {
                        font-size: 1.25rem;
                    }
                }


                .view-the-experience {
                    background-color: var(--background);
                    color: var(--subtitle-color);
                    border-radius: 3.5px;
                    padding: 4px 15px;
                    font-family: var(--font-excelsior);
                    font-size: 1rem;

                    @media (min-width: 768px) {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

}

.city-comments-section {
    @media (min-width: 1200px){
        padding: 10rem 1.3rem;
    }
    .city-comments-container {
        padding: 0 2rem;

        @media (min-width: 1024px){
            display: flex;
            gap: 2rem;
            max-width: 1024px;
            margin: auto;
        }

        @media (min-width: 1200px){
            max-width: 1100px;
        }

    }
    .show-more-comments {
        color: var(--main-color);
        text-decoration: underline;
        font-family: var(--font-excelsior);
        text-align: center;
        padding: 1rem 0 2rem 0;

        @media (min-width: 1024px){
            font-size: 1.125rem;
        }
    }
}

.know-the-city {
    padding: 2rem 1.3rem;
    /* max-width: 330px; */
    /* margin: auto; */
    max-width: 400px;
    margin: auto;

    @media (min-width: 768px){
        display: none;
    }

    h2 {
        font-family: var(--font-dk-otago);
        font-size: 1.5rem;
        margin: auto;
        padding: 1rem 0 2rem 0;
    }

    .posts-container {
        .post {
            padding-bottom: 2rem;

            .img-container {
                aspect-ratio: 7 / 5;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }

            .data {
                font-family: var(--font-excelsior);

                .key {
                    font-family: var(--font-dk-otago);
                    padding-top: .5rem;
                }

                .title {
                    font-size: 1.5rem;
                    line-height: 1.25;
                    padding-top: .3rem;
                }

                .description {
                    font-size: 1rem;
                    padding-top: .7rem;
                }

                .author {
                    font-family: var(--font-excelsior);
                    font-size: 1rem;
                    line-height: 1;
                    padding-top: .7rem;

                    span {
                        color: var(--main-color);
                    }
                }
            }
        }

        .group-posts {
            padding-top: 2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .key {
                font-size: .875rem !important;
            }

            .title {
                font-size: 1.125rem !important;
            }
        }

        .remainig-posts {
            .post {
                display: flex;
                gap: .7rem;

                .img-container {
                    width: 30%;
                    aspect-ratio: 7 / 5;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }
                }

                .data {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .title {
                        font-size: 1rem;
                        padding: 0;
                    }

                    .author {
                        padding: 0;
                        font-size: .85rem;
                    }
                }
            }
        }
    }
}

.faq-section-city {
    /* max-width: 330px;
    margin: auto; */
    padding: .5rem 1.3rem;
}

.city-not-found {
    display: grid;
    height: 100vh;
    /* ocupa todo el viewport */
    width: 100vw;
    place-items: center;

    /* centra horizontal y verticalmente */
    &>* {
        grid-column: 1;
        grid-row: 1;
    }

    .data-container {
        z-index: 999;
        padding-top: 2rem;
        font-size: 1.3rem;
        color: white;
        font-family: var(--font-dk-otago);
    }

    .image-container {
        img {
            filter: brightness(.5) blur(1px);
        }
    }
}

.local-guide-section {
    background-color: var(--local-guides-bg);
}

@media (min-width: 768px) {
    .third-section {
        padding: 4rem 1.3rem;

        .content {
            display: flex;
            padding: 0 2rem;
            gap: 2rem;
            max-width: 800px;
            margin: auto;

            p {
                max-width: 390px;
                padding-top: 0;
            }

            h3 {
                max-width: 290px;
            }
        }
    }

    .know-the-city-desktop{
        
    }
}

@media (min-width: 1024) {
    .third-section {
        /* padding: 4rem 1.3rem; */
        padding: 10rem 1.3rem;

        .content {
            gap: 4rem;
            max-width: none;
            justify-content: center;

            h3 {
                font-size: 2.5rem;
                max-width: 470px;
            }

            p {
                max-width: 500px;
                font-size: 1.5rem;
            }

            /* max-width: 850px0px; */
            /* gap: 4rem; */
        }
    }
}