.main-section-container {
    display: grid;
    height: 100svh;

    &>* {
        grid-column: 1;
        grid-row: 1;
    }

    .image-container {
        overflow: hidden;
        z-index: 1;
        
        img {
            filter: brightness(.8);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .data-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        z-index: 2;

        .data {
            padding: 0 0 2rem 1.3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .data-info {
                h1 {
                    font-family: var(--font-dk-otago);
                    font-size: 2.3rem;
                    max-width: 300px;
                    line-height: 1.3;
                }

                p {
                    font-family: var(--font-excelsior);
                    font-size: 1.125rem;
                    line-height: 1.3;
                    max-width: 300px;
                }
            }

            .ctas {
                display: flex;
                gap: .5rem;
                .view-the-experience {
                    background-color: var(--background);
                    color: var(--subtitle-color);
                    border-radius: 3.5px;
                    padding: 4px 15px;
                    font-family: var(--font-excelsior);
                    font-size: 1rem;
                }
            }
        }
    }

}
.city-comments-section {
    .city-comments-container {
        padding: 0 2rem;

        .show-more-comments {
            color: var(--main-color);
            text-decoration: underline;
            font-family: var(--font-excelsior);
            text-align: center;
            padding: 1rem 0 2rem 0;
        }
    }
}