.travel-guide-page {
    min-height: 100svh;
    overflow: hidden;
    position: relative;
    display: flex;

    .travel-guide-first-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 2rem;
    }

    .titles-container {
        align-self: flex-start;
        color: white;
        padding: 0 0 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            font-family: var(--font-excelsior);
            font-style: italic;
            font-size: 1.25rem;
        }

        .btn-cta {
            background-color: white;
            color: var(--subtitle-color);
            padding: 6px 16px;
            border-radius: 3.5px;
            font-family: var(--font-excelsior);
            width: fit-content;
        }

        span {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            svg {
                padding-top: 1px;
            }
        }
    }

    .imgs-galleries {
        filter: brightness(.4);
        background-color: var(--background);
        min-height: 100svh;
        padding-top: 3.2rem;
        position: absolute;
        width: 100%;
        z-index: -1;

        .img-container {
            aspect-ratio: 3 / 4;
            height: 45svh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    h1 {
        font-size: 2.8rem;
        line-height: 1;
        font-family: var(--font-dk-otago);
    }

    .img-gallery {
        display: flex;
        gap: 1.2rem;
        width: 300px;
        /* overflow: hidden; */
        padding-top: 1rem;

        img {
            width: 300px;
            height: 200px;
            flex-shrink: 0;
        }
    }

}