    .travel-guide-first-section {
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 2rem;
        overflow: hidden;
        width: 100%;

        @media screen and (min-width: 768px) {
            justify-content: center;
        }
    }

    .titles-container {
        align-self: flex-start;
        color: white;
        padding: 0 0 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (min-width: 768px) {
            align-self: center;
            gap: 0;
            padding: 6rem 0 0 0;
        }

        @media screen and (min-width: 1024px) {
            /* align-self: center; */
            /* padding: 16rem 0 0 0; */
            max-width: none;
            /* border: 1px solid red; */
            /* gap: 1rem; */
        }

        h1 {
            font-size: 2.8rem;
            line-height: 1;
            font-family: var(--font-dk-otago);

            img {
                width: 40%;
                display: inline;

                @media screen and (min-width: 768px) {
                    width: 25%;
                }
            }

            br {
                @media screen and (min-width: 768px) {
                    display: none;
                }

            }

            @media screen and (min-width: 768px) {
                display: flex;
                font-size: 3rem;
                gap: .5rem;
                width: fit-content;

            }

            @media screen and (min-width: 1024px) {
                gap: .8rem;
                font-size: 4.61rem;
            }

            @media screen and (min-width: 1200px) {
                /* font-size: 4.61rem; */
                align-items: center;
            }

            span {
                display: flex;
            }
        }

        h2 {
            font-family: var(--font-excelsior);
            font-style: italic;
            font-size: 1.25rem;

            @media screen and (min-width: 768px) {
                text-align: center;
                line-height: 1.3;
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }

            @media screen and (min-width: 1024px) {
                font-size: 2rem;
            }

            @media screen and (min-width: 1200px) {
                font-size: 2.5rem;
            }
        }

        .btn-cta {
            background-color: white;
            color: var(--subtitle-color);
            padding: 0.4rem 1rem;
            border-radius: 3.5px;
            font-family: var(--font-excelsior);
            width: fit-content;

            @media screen and (min-width: 768px) {
                margin: auto;
                font-size: 1.25rem;
                padding: 0.5rem 1.25rem;
            }
        }


    }

    .imgs-galleries {
        filter: brightness(.8);
        background-color: var(--background);
        min-height: 100svh;
        padding-top: 3.2rem;
        position: absolute;
        width: 100%;
        z-index: -1;
        overflow-x: hidden;

        .img-container {
            aspect-ratio: 3 / 4;
            height: 45svh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }



    .img-gallery {
        display: flex;
        gap: 1.2rem;
        width: 300px;
        /* overflow: hidden; */
        height: 100svh;
        padding-top: 1rem;

        /* img {
            width: 300px;
            height: 200px;
            flex-shrink: 0;
        } */
    }


    .second-section-main-container {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;


        @media (min-width: 768px) {
            align-items: center;
            max-width: 768px;
            margin: auto;
        }

        @media (min-width: 1024px) {
            max-width: 1024px;
        }


        /* .main-searcher {
            display: flex;
            gap: 0.3rem;

            .searcher {
                color: var(--second-green);
                font-family: var(--font-excelsior);
                font-size: 1rem;
                line-height: 1.28;
                text-decoration: underline;
            }
        } */

        .input-container {
            display: none;
            font-family: var(--font-excelsior);
            color: var(--second-green);

            @media (min-width: 768px) {
                display: block;
                background-color: #CBDCD9;
                padding: .5rem .5rem;
                border-radius: 5px;
            }

            .input {
                @media (min-width: 768px) {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }

                input {
                    border-left: 1px solid;
                    outline: none;
                    padding: 0 .3rem 0 .5rem;
                }
            }
        }

        .filter-container {
            display: none;

            font-family: var(--font-excelsior);
            color: var(--second-green);

            @media (min-width: 768px) {
                display: block;
            }

            button {
                display: flex;
                align-items: center;
                font-size: 1.125rem;
                gap: .3rem;
                cursor: pointer;
                padding: 5px 10px;
            }

        }

        .icons {
            display: flex;
            gap: 0.5rem;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }


    .travel-guide-third-section {
        padding: 1.3rem;
        max-width: 400px;
        margin: auto;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 4fr);
            gap: 1rem;
            max-width: 768px;

            .preview-wrapper.element-0 {
                grid-column: span 2;
                /* Ocupar dos columnas */
                grid-row: span 2;
                /* Ocupar cuatro filas */
                margin: 0;
            }
        }

        @media screen and (min-width: 1024px) {
            max-width: 1024px;
        }

        .preview-wrapper-group {
            display: flex;
            gap: 1rem;
            justify-content: space-between;

            @media screen and (min-width: 768px) {
                grid-row: span 2;
                flex-direction: column;
            }

            .preview-wrapper {
                width: 50%;

                @media screen and (min-width: 768px) {
                    margin: 0;
                    width: 100%;
                }

                .preview-item {
                    .preview-image-container {
                        .preview-city {
                            display: none;

                            @media screen and (min-width: 768px) {
                                display: block;
                            }
                        }
                    }

                    .preview-data {
                        h3 {
                            font-size: 1.2rem;
                        }

                        .preview-author {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }

        .preview-wrapper.list {
            .preview-item {
                display: flex;
                gap: 1rem;
                height: 100px;

                @media screen and (min-width: 768px) {
                    flex-direction: column;
                    height: auto;
                    height: 100%;
                    /* max-height: 315px; */
                }

                @media screen and (min-width: 1024px) {
                    /* max-height: 415px; */
                }

                .preview-image-container {
                    aspect-ratio: 1 / 1;
                    width: 30%;

                    @media screen and (min-width: 768px) {
                        /* border: 1px solid red; */
                        width: 100%;
                        /* height: 50%; */
                        height: 210px;
                        aspect-ratio: auto;
                    }

                    .preview-city {
                        display: none;

                        @media screen and (min-width: 768px) {
                            display: block;
                        }
                    }
                }

                .preview-data {
                    width: 70%;
                    margin-top: 0;
                    gap: 5px;

                    h3 {
                        font-size: 1rem;
                        line-height: 1.28;

                        @media screen and (min-width: 768px) {
                            color: rgb(0, 0, 0);
                            font-size: 1.2rem;
                            line-height: 1.35;
                            margin: 0px;
                        }
                    }

                    .preview-author {
                        font-size: 0.75rem;
                    }
                }
            }
        }

    }

    .show-more {
        font-family: var(--font-excelsior);
        line-height: 1.28;
        font-size: 1rem;
        color: var(--title-color);
        text-decoration: underline;
        text-align: center;
        display: block;
        padding-bottom: 2rem;
    }



    .category-container {
        padding: 4rem 1.3rem;
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            max-width: 768px;
            margin: auto;
        }

        @media screen and (min-width: 1024px) {
            max-width: 1024px;
        }

        .category-title {
            font-family: var(--font-dk-otago);
            font-size: 2.18rem;
            line-height: 1;
        }

        .travel-guide-third-section {
            padding: 0;

            .preview-wrapper {
                .preview-item {
                    .preview-data {
                        h3 {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .travel-guide-separator {
        /* max-width: calc(768px - 40px); */
        color: var(--second-green);
        /* margin: auto; */
    }